<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}La Chaudière{% endblock %}</title>

        <script src="https://cdn.tailwindcss.com"></script>

        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% if verify_user != null %}
            <script>
                if (window.location.pathname !== "{{ url_for(verify_user) }}") {
                    window.location.href = "{{ url_for(verify_user) }}"
                }
            </script>
        {% endif %}
        <div class="flex flex-grow">
            {% include "base/nav.html.twig" %}
            <main class="w-full p-6">
                {% block body %}{% endblock %}
            </main>
        </div>
        {% block javascripts %}{% endblock %}

    </body>
</html>
